// This comment gets rendered
//- This comment lives only inside this file
doctype html
html
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            //- #{variable} is the same as ${variable} in JavaScript
            link(rel="stylesheet", href="/css/style.css")
            link(rel="shortcut icon", type="image/png" href="/img/favicon.png")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            title Natours | #{title}
            meta(name="description" content="The one place where you're guaranteed to find the tour you need! Leave all stress at home and join a wonderful group of people you will always remember!")

            //- Google / Search Engine Tags
            meta(itemprop="name" content="Natours | Journeys you'll remember!")
            meta(itemprop="description" content="The one place where you're guaranteed to find the tour you need! Leave all stress at home and join a wonderful group of people you will always remember!")
            meta(itemprop="image" content="https://natours-be.herokuapp.com/img/tours/tour-2-cover.jpg")

            //-Facebook Meta Tags
            meta(property="og:url" content="http://natours-be.herokuapp.com")
            meta(property="og:type" content="website")
            meta(property="og:title" content="Natours | Journeys you'll remember!")
            meta(property="og:description" content="The one place where you're guaranteed to find the tour you need! Leave all stress at home and join a wonderful group of people you will always remember!")
            meta(property="og:image" content="https://natours-be.herokuapp.com/img/tours/tour-2-cover.jpg")

            //-Twitter Meta Tags
            meta(name="twitter:card" content="summary_large_image")
            meta(name="twitter:title" content="Natours | Journeys you'll remember!")
            meta(name="twitter:description" content="The one place where you're guaranteed to find the tour you need! Leave all stress at home and join a wonderful group of people you will always remember!")
            meta(name="twitter:image" content="https://natours-be.herokuapp.com/img/tours/tour-2-cover.jpg")
    body
        //- Header
        include _header

        //- Content
        block content
            h1 This is a placeholder

        //- Footer
        include _footer
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js")
        //- script(src=`/js/mapbox.js`)
        //- script(src=`/js/login.js`)
        script(src="https://js.stripe.com/v3/")
        script(src=`/js/bundle.js`)